.personal{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: #141414;

}
.timeline{
  order: 1;
  flex: 3;
  background: #962A38;
  display: flex;
  padding: 10px;
  flex-flow: column;
}
.timeline_title
{
  order: 1;
  flex: 1;
  display: flex;
}
.timeline_title p{
  margin: auto;
  font-family: 'Chalkboard';
  font-size: 4em;
  color: #141414;
}
.personal_stats{
  flex:2;
  order: 2;
  display: flex;
  margin-top: 20px;
}
.small
{
  font-size: 1.5em;
  font-weight: bolder;
}
.big{
  font-size: 2.5em
}
.watch_time{
  order: 1;
  flex: 1;
  display: flex
}
.watch_time > div , .favourite_genre > div , .movies_count >div{
  margin: auto;
  text-align: center;
  color: #141414;
  font-weight: bolder
}
.favourite_genre{
  order: 2;
  flex: 1;
  display: flex;
}
.movies_count{
  order: 3;
  flex: 1;
  display: flex;
}

.selection_div{
  order: 2;
  flex: 1;
  display: flex;
  color: #962A38;
}
.selection_div > div {
  margin: auto
}

.tabs{
  order: 3;
  flex: 2;
  margin-left: 150px;
  margin-right: 150px;

}

.mymovies{
  margin: auto;
  margin-top: 100px;
  width: 100%;
  order: 3;
  flex:6;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  min-height: 30vh;
  padding: 10px;

}
.box1{
  margin: auto;
  height: 400px;
  width: 230px;
  border: 1px solid black;
  position: relative;
  margin-bottom: 30px; 

}
.box1 img{
  height: 60%;
  width: 100%;
}
.box1 button{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #962A38;
  background: transparent;
  color: #962A38;
}
.box1 button:hover{
  background: #962A38;
  color: #141414
}

.stars{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  
}
.tag_text{
  position: absolute;
  bottom: 0;
  left: 2px;
  color: #962A38
}
.tag_button{
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.delete_movie{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.trash{
  order: 3;
  flex: 1;
  border-top: 1px solid #962A38;
  height: 100px;
  display: flex;
  margin-top: 20px;
}
.trash > div{
  margin: auto;  
}
.comment_boxes{
  border: 1px solid #962A38;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  word-break: break-all;
}
.trash_icon{
  position: absolute;
  bottom: 4px;
  right: 12px;
  background: transparent;
  border: 0;
}
.modal-footer{
  display: flex
}
.modal_form{
margin: auto
}
.modal_buttons{
  margin-top: 10px;
  left: 30%;
  transform: translateX(-20%)
}
.block{
  display: block;
}
.none{
  display: none;
}

.star_icons{
  font-size: 30px;
}
.add_tag_button{
  background: transparent;
  border: 1px solid #141414
}
.add_tag_button:hover{
  background: #141414;
  color: #962A38
}
.tag_list{
  text-align: center;
  padding: 1px;
  letter-spacing: 3px
}

@media only screen and (max-width: 992px){
  .delete_movie{
    display: block
  }
  .tabs{
    margin-right:100px;
    margin-left: 100px 
  }
}
@media only screen and (max-width: 756px){
  .big{
    font-size: 2em
  }

  .tabs{
    margin-right:50px;
    margin-left: 50px 
  }
  .box1{
    margin: auto;
    width: 240px;
    margin-bottom:100px 
  }

}
@media only screen and (max-width: 480px){
  .big{
    font-size: 1.2em
  }
  .small{
    font-size: .8em;
  }
  .tabs{
    margin-right:0px;
    margin-left: 0px 
  }

  .box1{
    margin: auto;
    width: 240px;
    margin-bottom:100px 
  }
}
@media only screen and (max-width: 320px){
  .big{
    font-size: 1.3em
  }
  .small{
    font-size: .85em
  }
  .tabs{
    margin-right:100px;
    margin-left: 100px 
  }
  .box1{
   margin: auto;
  width: 280px;
  margin-bottom:100px 
  }
}