.sidenavbar {
    height: 100%;
    width: 270px;
    position: fixed;
    margin-left: -270px;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    text-align: center;
}
ul.dropdown-menu{
  background: #962A38;
  color: #141414;
  cursor: pointer;
}
ul.dropdown-menu li a:hover{
  background-color: #141414;
  color: #962A38;
}
.move{
  margin-left: 0;
}
.sidenavbar h3 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenavbar h3:hover , .sidenavbar i:hover{
    color: #962A38;
}
.sidenavbar img{
  height: 80px;
  width: 80px;
}
.movies_input{
  border: 0;
  border-bottom: 1px solid #962A38;
  width: 80%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  text-align: center;

}
.searches{
  position:relative;
  margin-bottom: 120px;
  color: #818181;
}
.searches button{
  background: transparent;
  border: 1px solid #962A38;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
}
.searches button:hover{
  background: #962A38;
  color:black;
  border: 0;
}
.search_header{
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.fa-user{
  cursor: pointer;
}
a {
  color:#818181;
}
a:hover{
  color: #818181;
}
