.second_screen{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: #141414;
}
.wrapper{
  order: 1;
  flex:1;
  background: #141414;
}
.filtering{
  order: 2;
  flex: 1;
  background: #141414;
  display: flex;
  padding:8px;
}
.filtering > div{
  margin: auto;
}
.wrapper h1{
  text-align: center;
}
.results_list{
  order: 3;
  flex:3;
  background: #962A38;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
ul.dropdown-menu{
  background: #962A38;
  color: #141414;
  cursor: pointer;
}
ul.dropdown-menu li a:hover{
  background-color: #141414;
  color: #962A38;
}
.filter{
  width: 200px;
  background: transparent;
  border: 1px solid #962A38;
  letter-spacing: 2px;
}

.latest_slider{
  max-width: 100%;
  position: relative;
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
}
.movie_slides{
  margin: auto;
}

/**/
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  color: #141414;
  font-weight: bolder;
  font-size: 40px;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
/*hovering*/
 .next:hover {
  transform: translateX(10%);
  color: #141414;
}
.prev:hover{
  transform: translateX(-10%);
  color: #141414;
}

/**/

 .card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  margin-left: 30px;
  margin-top: 30px;
  height: 300px;
  width: 250px;
  background: #141414;
  border: 1px solid lightgrey;
  position: relative;
  color: white;
}
 .card img{
  width: 100%;
  height: 200px;
}
.card{
  display: inline-block;
}
.card .info p{
  text-align: center;
}
.card .info{
  position: relative;
}

.showing{
  display: block;
}
.hiding{
  display: none;
}
.error_screen{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background: black;
}
.back_button{
  order: 1;
  flex: 1;
  background: #141414;
}
.back_button img{
  height: 50px;
}
.error_message{
  order: 2;
  flex: 13;
  background: #962A38;
  color:#141414;
  display: flex;
}
.error_message h1{
  margin: auto;
}
.home_image{
  height: 70px;
}