.profile{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #141414;
}
.back_but{
  order: 1;
  flex: 1;
  background: #141414;
  padding: 10px;
}
.back img{
    height: 50px;
}
.profile_info{
  display:flex;
  flex: 1;
  order: 2;
  background: #f81f1f;
}
.infos{
  margin: auto;
  text-align: center;
  color: #ffffff;
}
.profile_info img{
  border-radius: 50%;
  height: 200px;
  width: 180px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.personal_info{
  flex: 5;
  order: 3;
display: flex;
}
.biography{
  color: #ffffff;
  text-align: justify;
  width: 50%;
  padding:20px;
  margin: auto;
}
.stats{
  order: 4  ;
  flex: 8;
  min-height: 55vh;
  background: #f81f1f;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-flow: column;
}
.box_header{
  order: 1;
  flex-grow: 1;
}
.box_office{
  order: 2;
  flex: 10;
  display: flex;
  flex-flow: row;
}
.box{
  margin: auto;
  height: 300px;
  width: 250px;
  border: 1px solid black;
  position: relative;
  margin-bottom: 20px;
}
.box img{
  height: 100%;
  width: 100%;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  background:rgba(20, 20, 20,.9);
  overflow: hidden;
  transition: 0.5s ease;
}
.box:hover .overlay{
  height: 100%;
}
.overlay >div{
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}
.error_screen{
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background: black;
}
.back_button{
  order: 1;
  flex: 1;
  background: #141414;
}
.back_button img{
  height: 50px;
}
.error_message{
  order: 2;
  flex: 13;
  background: #f81f1f;
  color:#141414;
  display: flex;
}
.error_message h1{
  margin: auto;
}
/*media queries*/
@media only screen and (max-width: 1200px){
}
@media only screen and (max-width: 992px){
  .biography{
    width: 70%;
  }
}
@media only screen and (max-width: 768px)
{
  .box_office{
    flex-flow: column;
  }
  .biography{
    width: 90%;
  }
}
@media only screen and (max-width: 480px){
  .biography{
    width: 100%;
  }
  .box_office{
    flex-flow: column;
  }
  .box{margin-bottom: 20px;}
  .biography p{
    font-size: .9em
  }
}
@media only screen and (max-width: 320px){
  .biography p{
    font-size: .8em
  }






}
